<%
  title ||= _('Free Access')
  hide_title ||= false
  
  video_urn ||= nil

  if (client_location)
    urns = [client_region, client_floor, client_location.try(:infrastructure_area_category)].compact.map { |area| [portal_name.to_s, area.try(:name).to_s.strip.downcase.underscore, 'video'].reject(&:blank?).join('_') }
    urns.each do |urn|
      if rotator = Rotator.find_by(urn: urn)
        video_urn ||= rotator.urn
        break
      end
    end
  end
  video_urn ||= "#{portal_name}_video" if Rotator.find_by(urn: "#{portal_name}_video")
  video_urn ||= 'video' if Rotator.find_by(urn: 'video')
%>

<%= bootstrap_form_tag(url: {action: :shared_credential_login}, id: 'shared_credential_login') do |f| %>
  <%= f.hidden_field(:credential, value: nil) %>
  <fieldset class="d-flex flex-column h-100">
    <legend class="<%= 'visually-hidden' if hide_title %>"><%= title %></legend>
    <%= render_portal_partial 'survey_questions_fields' %>
    <% if video_urn %>
      <div id="video-container">
        <%= render_portal_partial 'rotator', locals: { urn: video_urn } %>
      </div>
      <div id="video-loading" class="text-center" style="display: none;">
        <div class="spinner-border" style="height: 3rem; width: 3rem" role="status">
          <span class="visually-hidden"><%= _('Loading...') %></span>
        </div>
      </div>
      <%= f.button(_('Connect to our Complimentary Wifi'), id: 'play-button', type: 'button', class: 'mx-auto my-2 col-6 btn btn-lg btn-primary shadow-sm', style: 'display: block;', data: { disable_with: _('Please wait...') })%>
      <%= render_portal_partial('terms_checkbox', locals: { f: f }) %>
      <%= f.button(_('Continue'), id: 'continue-button', type: 'submit', class: 'mx-auto col-6 btn btn-lg btn-primary shadow-sm', style: 'display: none;', data: { disable_with: _('Please wait...') }) %>
    <% else %>
    <%= render_portal_partial('terms_checkbox', locals: { f: f }) %>
      <%= f.submit(_('Connect'), class: "mt-auto #{portal_login_submit_classes}", data: { disable_with: _('Please wait...'), small: 'true', inline: true})%>
    <% end %>
  </fieldset>
<% end %>


<script>
  $(function() {
    const playButton = $('#play-button')
    const continueButton = $('#continue-button')
    const loadingSpinner = $('#video-loading')
    const videoContainer = $('#video-container')
    const video = videoContainer.find('video')

    function playVideo() {
      const _video = video.get(0)

      if (_video.muted) {
       _video.muted = false
      }
      // Unmuting the video programmatically automatically pauses it if there have been no user interactions.
      if ((_video.paused || _video.ended)) {
        _video.play();
      }
    }

    function handlePlayButtonClicked(event) {
      loadingSpinner.show()
      playButton.hide()
      video.get(0).load();
    }

    function handleVideoLoaded(event) {
      loadingSpinner.hide()
      videoContainer.show()
      video.show()
      playVideo()
    }

    function handleVideoEnded(event) {
      continueButton.css('display', 'block')
    }
    if (video.length) {
      playButton.click(handlePlayButtonClicked)
      video.on('loadeddata', handleVideoLoaded)
      video.on('ended', handleVideoEnded)
    } else {
      playButton.hide()
      continueButton.html('Sign In')
      continueButton.css('display', 'block')
    }
  })
</script>
